<% if @cart %>
    <% @cart.each do |item| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">$<%= (item.price_at_time_of_selection) %></h4>
                    <h4><%= Product.find_by_id(item.product_id).name %></h4>
                    <p><%= Product.find_by_id(item.product_id).description %></p>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <p style="text-align: center;"> Your cart is empty. Go buy some shit, and then come and talk to me.</p>
<% end %>
